.testPage {
  padding: 25px !important;
  padding-top: 0 !important;
}

.CodeArea {
  width: 250px;
}

.White-Box {
  background-color: white;
  height: 15vh;
}

.ProfileContain {
  width: 100px;
  height: 100px;
}

.FormImages {
  display: flex;
}


.EmailButton {
  width: 200px; 
  height: 50px; 
  background-color: #5067EB; 
  border-radius: 20px; 
  text-align: center;
  color: white;
}