@import "../../../index.scss";

// .body {
//     // width: 100%;
//     // width: 50vh !important;
//     // float: left;
//     height: 100vh;
//     background: linear-gradient(47deg, #fd1e4a73 0%, #5067eb80 80%);
// }

.closeButton {
  width: 25px;
  padding: 1%;
  top: 2vh;
  right: 2vh;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  background-color: $Primary_DarkBlue;
  text-align: center;
  float: right;
  color: white;
  cursor: pointer;
  @include Shadow();
}

.questionBlock {
  width: 150vh !important;
  margin-left: 2vh;
  padding-bottom: 2%;
  margin-top: 1%;
  height: max-content;
}

.headingQuestion {
  margin-top: -20px;
}

.left {
  margin-top: -0.3%;
  float: left;
  margin-right: 1.5%;
}

.questionIntro {
  width: 100%;
}

.profileImg {
  width: 78px;
  height: 78px;
  float: left;
  margin-right: 15px;
  @include backgroundImages;
}

.username {
  margin: 0.1%;
  // float: left;
}

.heading {
  margin-top: 0.1%;
  margin-bottom: 1%;
}

.questionDetails {
  width: 100%;
  height: fit-content;
}

.ImageNUp {
  width: 30%;
  height: 28vh;
  border-radius: 20px;
  margin-right: 3%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.questionImage {
  width: 70%;
  float: left;
  height: 25vh;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  @include backgroundImages;
  cursor: pointer;
}

.questionImage:hover {
  border: 2px solid $Primary_DarkBlue;
}

.questionImage img {
  width: 100%;
  height: 35vh;
  border-radius: 20px;
}

.questionDescription {
  padding-top: 8px;
  width: 90%;
  height: 100px;
  margin-top: 3%;
}

.answerSection {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

.votes {
  margin-top: 78px;
  float: left;
  margin-right: 2%;
  color: $Primary_gray;
}

.reply {
  float: right;
  text-decoration: underline;
  color: $Primary_gray;
  cursor: pointer;
}

hr {
  width: 100%;
}

textarea {
  outline: none;
  width: 90%;
  border-radius: 20px;
  height: 95px;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.6);
}

.tag {
  float: left;
  margin-right: 1%;
  width: fit-content;
  border-radius: 10px;
  font-size: smaller;
  padding: 0.5% 2%;
  color: $Primary_DarkBlue;
  font-weight: 600;
  z-index: 100;
  @include ModalColor;
}

.AlreadyUpCon {
  width: 1px;
  height: 1px;
}

.AlreadyUp {
  position: relative;
  width: 150px;
  border-radius: 20px;
  height: 29px;
  top: -55px;
  background-color: #4b4b4b;
  left: 75px;
  padding-top: 7px;
  font-weight: 600;
  color: white;
  @include Shadow();
}

.Left {
  width: 90%;
  height: 100px;
  padding: 2%;
}

.Right {
  width: 3%;
  height: auto;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.Container {
  height: 100%;
  width: 7%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.GradientDown {
  width: 95%;
  // background-color: rgba(253, 30, 74, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  text-align: center;
  background-image: url("../../../Icons/dislike.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 85%;
  cursor: pointer;
  background-size: 65%;
}

.GradientUp {
  width: 95%;
  // background-color: rgba(0, 200, 145, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  text-align: center;
  background-image: url("../../../Icons/like.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 15%;
  cursor: pointer;
  background-size: 65%;
}

.Middle {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  /* display: flex; */
}

.circle {
  background-color: white;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.totalUpNDown {
  position: relative;
  left: -40px;
  font-weight: bold;
}

.Upvote {
  width: 90%;
  background-image: url("../../../Icons/like.svg");
  @include backgroundImages();
}

.Downvote {
  width: 90%;
  height: 20px;
  background-image: url("../../../Icons/dislike.svg");
  @include backgroundImages();
}
