@import '../../../index.scss';


.BackgroundBlur {
    width: 100%;
    margin-top: 20px;
    //   margin-left: -20px;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    animation: fadeIn 0.35s;
    background-color: #f2f2f281;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.EditProfile{
    padding: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 500;
    width: 25%;
    height: max-content;
    height: auto;
    border-radius: 20px;
    @include ModalColor;
}

form{
    text-align: center;
}

.usernameMargin{
    margin-bottom: 3%;
}

.emailMargin{
    margin-bottom: 5%;
}

// .Image {
//     width: 100px;
//     height: 100px;
//     background-color: $Primary_DarkBlue;
//     padding: 10px;
//     color: white;
//     margin-bottom: 15px;
//     margin-left: 15px;
//     border-radius: 20px;
//     @include InputShadow()
// }

// .Image:hover{
//     background-color: $Primary_LightBlue;
// }

.closeButton{
    width: 25px;
    padding: 1%;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color: $Primary_DarkBlue;
    text-align: center;
    float: right;
    color: white;
    cursor: pointer;
    @include Shadow();
    margin-bottom: 3%;
}

.closeButton:hover{
    background-color: $Primary_LightBlue;
}

.Del{
    font-size: x-small;
}

.Del:hover {
    color: red;
    cursor: pointer;
}