@import '../../../index.scss';

form{
    text-align: center;
}

.ForgetPasswordCard{
    padding-top: 3%;
    padding-right: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 500;
    width: 65%;
    height: 25vh;
    border-radius: 20px;
    @include ModalColor;
}

input{
    margin: 0 auto;
    margin-left: 10%;
}

.space{
   height: 6vh;
}

.closeButton{
    width: 25px;
    padding: 1%;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color: $Primary_DarkBlue;
    text-align: center;
    float: right;
    color: white;
    cursor: pointer;
    @include Shadow();
}

.closeIcon{
    width: 20px;
    height: 20px;
    background-image: url('../../../Icons/white_cross.svg');
    // @include background-image;
}

.BackgroundBlur{
    margin-top: -10%;
    margin-left: -10%;
    position: absolute;
    z-index: 400;
    width: 110%;
    height:90vh;
    backdrop-filter: blur(16px);
}

